	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/12/2020 15:14
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon-.eot#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-computer:before { content: "\f100"; }
.flaticon-cyber-security:before { content: "\f101"; }
.flaticon-effective:before { content: "\f102"; }
.flaticon-practice:before { content: "\f103"; }
.flaticon-help:before { content: "\f104"; }
.flaticon-consultant:before { content: "\f105"; }
.flaticon-consulting:before { content: "\f106"; }
.flaticon-web-development:before { content: "\f107"; }
.flaticon-stats:before { content: "\f108"; }
.flaticon-project:before { content: "\f109"; }
.flaticon-chip:before { content: "\f10a"; }
.flaticon-bullhorn:before { content: "\f10b"; }
.flaticon-consulting-1:before { content: "\f10c"; }
.flaticon-startup:before { content: "\f10d"; }
.flaticon-tick:before { content: "\f10e"; }
.flaticon-android:before { content: "\f10f"; }
.flaticon-website:before { content: "\f110"; }
.flaticon-apple:before { content: "\f111"; }
.flaticon-television:before { content: "\f112"; }
.flaticon-smartwatch:before { content: "\f113"; }
.flaticon-structure:before { content: "\f114"; }
.flaticon-data-analytics:before { content: "\f115"; }
.flaticon-implement:before { content: "\f116"; }